    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    .pozadina {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .text-dark {
        font-size: 100px;
    }
    
    .icons i {
        margin: 70px 0px 70px 100px;
    }
    
    .bg-image {
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        background-size: cover;
    }
    
    .levo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 0.4;
        flex-basis: 30%;
    }
    
    .up {
        color: green;
    }
    
    .kartica {
        display: flex;
    }
    
    .desno {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 70%;
    }
    
    .downborder {
        border-bottom: 1px lightgray solid;
        margin-bottom: 10px;
    }
    
    .register-photo {
        background: #f1f7fc;
        padding: 30px 0;
    }
    
    .register-photo .image-holder {
        display: table-cell;
        width: auto;
        background: url(https://cdn.pixabay.com/photo/2017/03/21/19/10/musician-2163011_960_720.jpg);
        background-size: cover;
        background-position: center;
    }
    
    .register-photo .form-container {
        display: table;
        max-width: 900px;
        width: 90%;
        margin: 0 auto;
    }
    
    .register-photo form {
        display: table-cell;
        width: 400px;
        background-color: #f1f7fc;
        padding: 40px 60px;
        color: #505e6c;
    }
    
    @media (max-width:991px) {
        .register-photo form {
            padding: 40px;
        }
    }
    
    .register-photo form .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid #dfe7f1;
        border-radius: 0;
        box-shadow: none;
        outline: none;
        color: inherit;
        text-indent: 0px;
        height: 40px;
    }
    
    .register-photo form .btn-primary {
        background: green;
        border: none;
        border-radius: 4px;
        padding: 11px;
        box-shadow: none;
        margin-top: 35px;
        text-shadow: none;
        outline: none !important;
    }
    
    .copyright {
        background-color: black;
        color: white;
        text-align: center;
        padding: 4px;
    }